@import '../src/assets/styles/setup/__base.scss';

//Pages
@import '../src/assets/styles/pages/Dashboard.scss';
@import '../src/assets/styles/pages/Login.scss';
@import '../src/assets/styles/pages/Signup.scss';
