@use '../src/assets/styles/setup/_base.scss';
@use '../src/assets/styles/setup/__vars.scss';
@use '../src/assets/styles/pages/Login.scss';
@use '../src/assets/styles/pages/Signup.scss';
@use '../src/assets/styles/pages/Dashboard.scss';
@use '../src/assets/styles/pages/Onboarding.scss';
@use '../src/assets/styles/components/CoinPrices.scss';
