.dashboard-container {
  padding: var(--spacing-md);
  // max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-xl);
  // background: var(--bg-card);
  // border-radius: var(--radius-lg);
  // box-shadow: var(--shadow-md);
  // border: 1px solid var(--border-light);

  h1 {
    background: var(--text-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    font-size: 2rem;
  }
}

.logout-button {
  padding: var(--spacing-sm) var(--spacing-md);
  // background: linear-gradient(135deg, var(--primary-red) 0%, #dc2626 100%);
  color: black;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all var(--transition-normal);
  box-shadow: var(--shadow-md);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
  }

  &:active {
    transform: translateY(0);
  }
}

.dashboard-content {
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
  @media (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 380px) {
    padding: 0;
  }

  h2 {
    color: var(--text-primary);
    margin-bottom: var(--spacing-md);
  }

  p {
    color: var(--text-secondary);
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
